/* css reset from https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --orange-background-color: rgb(192, 132, 22);
}

body {
  margin: 0;
  color: #5D6063;
  background-color: #EAEDF0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.3;

  display: flex;
  flex-direction: column;
  align-items: center;


  background-image: url(images/nainoa-shizuru-NcdG9mK3PBY-unsplash.jpg);
  padding-top: 350px;
  padding-bottom: 350px;
  background-size: cover;
}

.container {
  opacity: 55%;
  background-color: var(--orange-background-color);
  border-radius: 5px;
  width: min(600px, 80%);

}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: 2rem;;
  justify-content: center;
  color: white;
  margin: 30px;
  padding: 30px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;

  border-radius: 5px;
  margin: 20px auto 40px auto; /* Adjusted top margin */  
  width: calc(80% - 40px);
  max-width: calc(800px - 40px);
  padding: 50px; 
}


.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 10;
  padding: 10;
  color: white;
}
.row input {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%; /* Adjust width as needed */
  padding: 7px;
  font-size: 14px;
}

@media only screen and (min-width: 700px) {
  .row {
    flex-direction: row;
    justify-content: space-between;
  }

  .row > div {
    width: 80%;
  }
}